extends ../layout

block head
  link(href='/css/pages/transactionLog.css', rel='stylesheet', type='text/css')
  link(href='/bower_components/datatables.net-bs/css/dataTables.bootstrap.css', rel='stylesheet', type='text/css')

block content
  // Content Header (Page header)
  section.content-header
    h1
      | #{tableName}
    ol.breadcrumb
      li
        a(href='/')
          i.fa.fa-dashboard
          | Dashboard
      li.active #{pageName}

  // Main content
  section.content
    .row
      .col-xs-12
        .box
          .box-header
            h3.box-title #{tableName}
          // /.box-header
          .box-body.table-responsive
            table#data.table.table-bordered.table-striped
              thead
                tr
                  th ID
                  th Attribute
                  th Amount
                  th Operation Type
                  th First Actor
                  th Second Actor
                  th Created At
                  th One
              tbody
                each transactionLog in transactionLogs
                  tr(data-href='/transactionLogs/' + transactionLog["id"] class="href-row")
                    td #{transactionLog['id']}
                    td #{transactionLog['attribute']}
                    td #{transactionLog['amount']}
                    td #{transactionLog['operationType']}
                    td #{transactionLog['firstActor']}
                    td #{transactionLog['secondActor']}
                    td(data-sort=transactionLog["createdAt"])= moment(transactionLog["createdAt"]).fromNow()
                    td Why this row
              tfoot
                tr
                  th ID
                  th Attribute
                  th Amount
                  th Operation Type
                  th First Actor
                  th Second Actor
                  th Created At
                  th One

block javascript
  //script var userLocations = !{JSON.stringify(_markers).replace(/<\//g, '<\\/')}

  // DataTables Includes
  script(src='/bower_components/datatables.net/js/jquery.dataTables.js', type='text/javascript')
  script(src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.js', type='text/javascript')
  script(src='//cdn.datatables.net/plug-ins/1.10.12/dataRender/ellipsis.js', type='text/javascript')

  // FontAwesome Markers
  script(src='/bower_components/fontawesome-markers/fontawesome-markers.min.js', type='text/javascript')

  // page script
  script(src='/js/pages/users.js',type='text/javascript')


